%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title Guarded preprocessors
    %link{rel: "stylesheet", href: "stylesheets/styles.css", type: "text/css", media: 'all'}
    %script{type: 'text/javascript', src: 'javascripts/scripts.js'}
  %body
    .content
      %h1 Welcome to Guarded preprocessors
      %p Simple way to mock up web frontends with HAML/Coffee/SASS/SCSS/Less
      %h2 Installing
      %p It seems that you already done it
      %h2 Usage
      %p Just run guard in your working directory and edit your source files.
      %p All of them will be automagically compile in html directory of your project
      %h3 Preprocessors
      %p Right out the box you can use configured preprocessors
      %ul
        %li
          %b HAML
          – for HTML preprocessing
        %li
          %b Coffescript
          – for Javascript preprocessing
        %li
          %b SASS/SCSS/LESS
          – for CSS preprocessing




